* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2,
h3,
h4,
h5,
h6,
p {
  font-family: Montserrat, sans-serif; }

h1,
h4,
h5 {
  color: white; }

h2,
h5,
h6 {
  font-weight: 100; }

h1,
h5 {
  text-transform: capitalize; }

h3 {
  text-transform: uppercase; }

h1 {
  font-family: Sail, cursive;
  font-weight: 500;
  font-size: 4rem;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 2rem;
  text-transform: uppercase; }

h3 {
  font-weight: 200;
  font-size: 1.1rem; }

h4 {
  font-weight: 200;
  font-size: 1rem; }

h5 {
  font-size: 40px; }

h6 {
  color: #84d4d8;
  font-size: 1.9rem; }

header {
  background-color: green; }
  header nav {
    opacity: .85;
    z-index: 10000;
    padding: 15px;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    box-shadow: -1px 1px 20px 5px black; }
    header nav ul {
      padding: 0 15px;
      width: 400px;
      display: flex;
      justify-content: space-around; }
      header nav ul li {
        display: inline; }
        header nav ul li a {
          color: white;
          text-decoration: none; }

#jumbotron {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; }
  #jumbotron div {
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

#quote {
  height: 86px;
  overflow: hidden;
  padding: 25px;
  background-color: #F04D47;
  text-align: center;
  box-shadow: inset 1px 1px 10px 1px black; }

#bio #bio-wrapper {
  width: 95%;
  margin: 30px auto;
  box-shadow: 1px 1px 30px 5px lightgray;
  padding: 10px;
  display: flex; }
  #bio #bio-wrapper aside {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #bio #bio-wrapper aside img {
      max-width: 250px;
      border-radius: 50%;
      padding: 3px;
      border: 1px solid grey; }
    #bio #bio-wrapper aside div {
      text-transform: capitalize;
      display: flex;
      padding: 10px; }
      #bio #bio-wrapper aside div div {
        display: flex; }
        #bio #bio-wrapper aside div div p {
          padding-left: 5px; }
      #bio #bio-wrapper aside div img {
        margin: auto; }
  #bio #bio-wrapper article {
    display: flex;
    justify-content: center; }
    #bio #bio-wrapper article div {
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      #bio #bio-wrapper article div p {
        padding: 5px;
        line-height: 1.2rem; }

@media screen and (max-width: 734px) {
  #bio #bio-wrapper {
    flex-direction: column; }
    #bio #bio-wrapper aside {
      padding: 30px; } }
#portfolio {
  background-color: #F04D47; }
  #portfolio #wrapper {
    box-shadow: inset -1px -1px 20px 2px black;
    padding: 40px; }
  #portfolio #header {
    color: white;
    text-align: center;
    margin-bottom: 30px; }
  #portfolio #projectDiv {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    max-width: 1000px; }
    #portfolio #projectDiv > div {
      color: white;
      width: 300px;
      height: 220px;
      position: relative;
      margin: 10px;
      border: 3px solid white;
      border-radius: 3px; }
      #portfolio #projectDiv > div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 25%; }
      #portfolio #projectDiv > div .divText {
        border: 1px solid white;
        border-radius: 5px;
        width: 90%;
        padding: 10px;
        margin: 0;
        background-color: #F04D47;
        opacity: .9;
        position: absolute;
        bottom: 10px;
        left: 3px;
        text-transform: uppercase;
        display: flex; }
      #portfolio #projectDiv > div p {
        transition: all 1s; }
      #portfolio #projectDiv > div:hover p {
        transition: all 1s;
        transform: translateX(50%); }

#contact {
  background-color: #51b3bf;
  color: white;
  margin: 30px 0;
  padding: 20px; }

footer {
  background-color: #F04D47;
  color: white;
  text-align: center;
  padding: 20px; }

.navColor {
  background-color: #F04D47; }

/*# sourceMappingURL=styles.css.map */
